nav { 
    position: fixed;
    float: left;
  }  
  nav ul {
    display: block;
    list-style: none;
    overflow: hidden; 
  }
  nav a {
    font-size: 25px;
  }
  nav a {
    padding: 10px;
    color: #00FF00;
    text-decoration: none;
  }
  nav a:hover {
    background:#D8D8D8;
  }
  h2
  {
    text-align: center;
  }